html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #1F2326;
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container {
  background: #17181a;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 320px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #00b7ff;
  transition: transform 0.3s ease;
  transform: scale(1.1); 
}

.img-profile:hover {
  transform: scale(1.2); 
}

h1 {
  margin: 0 0 10px;
  color: #ffffff;
}

.localization {
    color: #00b7ff;

 }

.description {
  color: #9b9a9a;
  font-size: 14px;
  margin-bottom: 25px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links .btn {
  padding: 12px 20px;
  border-radius: 50px; /* Borda bem arredondada */
  text-decoration: none;
  font-weight: 600;
  color: white;
  background-color: #1F2326; /* Cor padrão de fundo (pode mudar) */
  transition: background-color 0.3s ease;
  width: 100%; /* Ocupa toda a largura do container */
  box-sizing: border-box;
  text-align: center;
}


.instagram:hover {
  background: #4d4d4d;
}

.github:hover {
  background: #4d4d4d;
}

.linkedin:hover {
  background: #4d4d4d;
}

.frontendmentor:hover {
  background: #4d4d4d;
}

.rodape {
  margin-top: auto; 
  text-align: center;
  font-size: 14px;
  color: #888;
  padding: 20px 0;
}

@media (max-width: 600px) {
  .container {
    padding: 20px; /* Menos padding em telas pequenas */
  }
  .description {
    font-size: 12px; /* Texto menor em telas pequenas */
  }
}